config.log
autom4te.cache/*
Makefile
aclocal.m4
compile
config.guess
config.status
config.sub
Makefile.in
ylwrap
src/*.o
src/*.a
src/*.in
src/.deps/*
src/Makefile
src/lug/*.a
src/lug/*.o
src/lug/.deps/*
src/lug/*.in
src/lug/*.lo
src/lug/*.la
src/lug/.libs/*
src/lug/Makefile
src/heuristics/*.o
src/heuristics/*.lo
src/heuristics/*.la
src/heuristics/*.in
src/heuristics/Makefile
src/heuristics/.libs/*
src/heuristics/.deps/*
src/ppddl/*.o
src/ppddl/.libs/*
src/ppddl/.deps/*
src/ppddl/*.lo
src/ppddl/*.in
src/ppddl/*.la
src/ppddl/Makefile
src/search/*.o
src/search/.libs/*
src/search/.deps/*
src/search/*.lo
src/search/*.la
src/search/Makefile.in
src/search/Makefile
src/cudd/*.o
src/cudd/*.la
src/cudd/*.in
src/cudd/*.lo
src/cudd/.libs/*
src/cudd/.deps/*
src/cudd/Makefile
src/simulator/.libs/*
src/simulator/.deps/*
src/simulator/*.in
src/simulator/*.o
src/simulator/*.lo
src/simulator/*.la
src/simulator/Makefile
src/validate/.libs/*
src/validate/.deps/*
src/validate/*.in
src/validate/*.o
src/validate/*.lo
src/validate/*.la
src/validate/Makefile
src/rddlclient/*.o
src/pond
src/lug2txt
src/pondbeta
test/pond
src/ppddl2st
src/simptest
test/*.pddl